[Unit]
Description=This unit manages the NSAfs filesystem
After=network.target
Wants=network-online.target

[Service]
Restart=always
Type=exec
User=nsa
Group=nsa
ExecStart=/usr/libexec/nsa/nsafs -o allow_root -f /var/spool/nsa
ExecReload=/bin/sh -c "echo 1 >> /var/spool/nsa/??reload"

[Install]
WantedBy=multi-user.target
