#!/usr/bin/make -f

%:
	dh $@

override_dh_fixperms:
	dh_fixperms
	chmod 755 debian/resel-nsa/etc/nsa/*
	chmod 644 debian/resel-nsa/etc/nsa/.disable
	chmod 640 debian/resel-nsa/etc/nsa/config
	chmod 750 debian/resel-nsa/etc/nsa/profiles.d
	chmod 754 debian/resel-nsa/usr/libexec/nsa/nsa-*
	chmod 744 debian/resel-nsa/usr/bin/nsa-admin
	chmod -R 6770 debian/resel-nsa/var/spool/nsa
