#!/usr/bin/make -f

%:
	dh $@

override_dh_fixperms:
	dh_fixperms
	chmod 640 debian/resel-nsa/etc/nsa.conf
	chmod 744 debian/resel-nsa/usr/bin/nsa
	chmod 754 debian/resel-nsa/usr/libexec/nsa/do
	chmod 754 debian/resel-nsa/usr/libexec/nsa/nsafs
	chmod 755 debian/resel-nsa/usr/libexec/nsa/modules
	chmod 750 debian/resel-nsa/var/lib/nsa
	chmod 750 debian/resel-nsa/var/lib/nsa/error
	chmod 750 debian/resel-nsa/var/lib/nsa/evicted
	chmod 770 debian/resel-nsa/var/spool/nsa

override_dh_installsystemd:
	dh_installsystemd nsafs.service
