[Unit]
Description=NSA timer for %i
After=nsafs.service
BindsTo=nsafs.service

[Timer]
OnCalendar=*:00:00
AccuracySec=1ms
Unit=%i.service

[Install]
WantedBy=multi-user.target
UpheldBy=nsafs.service
