Source: resel-nsa
Section: admin
Priority: optional
Maintainer: Benjamin Somers <benjamin.somers@telecom-bretagne.eu>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3

Package: resel-nsa
Architecture: all
Depends: ${misc:Depends}, adduser, curl, whiptail
Description: Collects metrics and sends them to a Warp 10 endpoint.
 Runs scripts every minute to check the system and report everything to Warp 10.
